# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Needed for server side API calls
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
API_BASE_URL="http://localhost:3000/api"

# Prisma
DATABASE_URL='mysql://'

# Auth
KINDE_CLIENT_ID=""
KINDE_CLIENT_SECRET=""
KINDE_ISSUER_URL="https://chesstrainingapp.kinde.com"
KINDE_SITE_URL="http://localhost:3000"
KINDE_POST_LOGOUT_REDIRECT_URL="http://localhost:3000"
KINDE_POST_LOGIN_REDIRECT_URL="http://localhost:3000/dashboard"
KINDE_AUDIENCE="https://chesstrainingapp.kinde.com/api"
KINDE_ORG_ID=""

# Analytics and features
NEXT_PUBLIC_POSTHOG_KEY=<ph_project_api_key>
NEXT_PUBLIC_POSTHOG_HOST=<ph_instance_address>

# Puzzles API
RAPIDAPI_KEY=""

# Sentry
SENTRY_AUTH_TOKEN=""

# Brevo
SMTP_HOST="smtp-relay."
SMTP_PORT="587"
SMTP_USER="marketing@chesstraining.app"
SMTP_PASSWORD=""
BREVO_API_KEY=""

# Frigrade
FRIGADE_API_KEY=""

# Stripe
STRIPE_PUBLIC_KEY=""
STRIPE_SECRET_KEY=""

# Premium Settings
NEXT_PUBLIC_MAX_COURSES=2
NEXT_PUBLIC_MAX_SETS=2